body{
    background-color: #29d4293a;
   
    
  }
  .cover {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
}

.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
}

.blur-out {
    -webkit-animation: blur-out 2s forwards;
    -moz-animation: blur-out 2s forwards;
    -o-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}
h1{
  text-align: center;
  color: rgb(63, 63, 61);
}
.content {
  width: 650px;
  margin: 0 auto;
  padding-top: 100px;
}

span {
  color: dimgray;
}

.pop-up {
  position: fixed;
  margin: 5% auto;
  left: 0;
  right: 0;
  z-index: 2;
}

.box {
  background-color: whitesmoke;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: relative;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}




.close-button {
    transition: all 0.5s ease;
    position: absolute;
    background-color: #000000;
    padding: 1.5px 7px;
    left: 0;
    margin-left: -10px;
    margin-top: -9px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: white;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
}

.close-button:hover {
    background-color: rgb(112, 109, 109);
    color: #fff;
}

h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    background-color: #4dffa6;
}

p {
    padding: 20px 65px 10px 65px;
    color: dimgray;
}
  .login-box{
    position:relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  }
  .lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
  }
  .lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .lb-header .active{
    color: #029f5b;
    font-size: 18px;
  }
  .social-login{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
  }
  .social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align:center;
  }
  .social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
  }
  .social-login a:first-child{
    background-color: #49639F;
  }
  .social-login a:last-child{
    background-color: #DF4A32;
  }
  .email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
  }
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
  }
  .u-form-group input[type="text"],
  .u-form-group input[type="email"],
  .u-form-group input[type="password"]{
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  .u-form-group input:focus{
    border-color: #358efb;
  }
  .u-form-group button{
    width:50%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }
  .forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
  }
